.aside {
    background-color: var(--light-gray);
    width: clamp(100px, 25%, 250px);
    padding-top: 24px;
    padding-left: 24px;
    font-size: 1.3rem;
}

.asideList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.active {
    color: white;
}

.sideMenuButton {
    background: var(--light-gray);
    outline: none;
    border: none;
    transition: all .1s ease-in-out;
}

.sideMenuButton:focus-visible, .sideMenuButton:hover {
    transform: scale(1.05);
}

.sideMenuButton:active {
    transform: scale(0.9);
}
